In [12]:
import pandas as pd

# Load CSVs
df1 = pd.read_csv('Used Car Dataset (1).csv')
df2 = pd.read_csv('used_cars (2).csv')

In [14]:
print(df1.columns.tolist())

['unnamed:_0', 'car_name', 'registration_year', 'insurance_validity', 'fuel_type', 'seats', 'kms_driven', 'ownsership', 'transmission', 'manufacturing_year', 'mileagekmpl', 'enginecc', 'max_powerbhp', 'torquenm', 'pricein_lakhs']

In [18]:
# Ensure manufacturing_year is numeric
df1['manufacturing_year'] = pd.to_numeric(df1['manufacturing_year'], errors='coerce')

# Drop rows with invalid years
df1 = df1.dropna(subset=['manufacturing_year'])

# Calculate vehicle age
current_year = 2025
df1['vehicle_age'] = current_year - df1['manufacturing_year']

In [ ]:
# Rename columns for consistency
df1.columns = df1.columns.str.lower().str.strip().str.replace(' ', '_').str.replace('[()]', '', regex=True)

# Print column names to verify structure
print("Cleaned columns:", df1.columns.tolist())

# Drop rows with missing values in key columns
df1 = df1.dropna(subset=['pricein_lakhs', 'fuel_type'])

# Convert 'kms_driven' to numeric
df1['kms_driven'] = pd.to_numeric(df1['kms_driven'], errors='coerce')

# Remove outliers
df1 = df1[(df1['pricein_lakhs'] > 0) & (df1['kms_driven'] < 500000)]

# Drop rows with missing manufacturing year
df1 = df1.dropna(subset=['manufacturing_year'])

# Calculate vehicle age
current_year = 2025
df1['vehicle_age'] = current_year - df1['manufacturing_year']

# Reset index after filtering
df1.reset_index(drop=True, inplace=True)

# Display the cleaned DF
print(df1[['fuel_type', 'pricein_lakhs', 'kms_driven', 'vehicle_age']].head())
print(df1.describe())

Cleaned columns: ['unnamed:_0', 'car_name', 'registration_year', 'insurance_validity', 'fuel_type', 'seats', 'kms_driven', 'ownsership', 'transmission', 'manufacturing_year', 'mileagekmpl', 'enginecc', 'max_powerbhp', 'torquenm', 'pricein_lakhs', 'vehicle_age']
  fuel_type  pricein_lakhs  kms_driven  vehicle_age
0    Petrol          63.75       56000          8.0
1    Petrol           8.99       30615          5.0
2    Diesel          23.75       24000          7.0
3    Petrol          13.56       18378          6.0
4    Petrol          24.00       44900          6.0
        unnamed:_0        seats     kms_driven  manufacturing_year  \
count  1501.000000  1501.000000    1501.000000         1501.000000
mean    781.990673     5.205863   52193.395070         2017.367755
std     447.789705     0.636338   29780.647109            3.008765
min       0.000000     4.000000     620.000000         2007.000000
25%     402.000000     5.000000   30000.000000         2015.000000
50%     788.000000     5.000000   49441.000000         2018.000000
75%    1168.000000     5.000000   70000.000000         2019.000000
max    1552.000000     8.000000  260000.000000         2023.000000

       mileagekmpl      enginecc  max_powerbhp      torquenm  pricein_lakhs  \
count  1498.000000  1.498000e+03  1.498000e+03  1.497000e+03    1501.000000
mean    187.395808  1.522950e+10  1.522950e+10  1.274543e+04     171.317961
std     516.751944  2.223090e+11  2.223090e+11  8.274692e+04    3538.527765
min       7.810000  5.000000e+00  5.000000e+00  1.900000e+01       1.000000
25%      16.100000  1.197000e+03  1.197000e+03  5.000000e+02       4.610000
50%      18.760000  1.493000e+03  1.493000e+03  1.176000e+03       6.950000
75%      21.400000  1.995000e+03  1.995000e+03  8.850000e+03      16.000000
max    3996.000000  3.258640e+12  3.258640e+12  1.186600e+06   95000.000000

       vehicle_age
count  1501.000000
mean      7.632245
std       3.008765
min       2.000000
25%       6.000000
50%       7.000000
75%      10.000000
max      18.000000

In [ ]:
df2.columns = df2.columns.str.lower().str.strip().str.replace(' ', '_')

# Drop rows with null prices or fuel type
df2 = df2.dropna(subset=['price', 'fuel_type'])

# Make column names to merge
df2.rename(columns={'model_year': 'manufacturing_year'}, inplace=True)
df2['vehicle_age'] = current_year - df2['manufacturing_year']

In [ ]:
# Check columns in df2 to confirm the correct column names
print(df2.columns.tolist())

# Rename price column in df2
df2.rename(columns={'price': 'pricein_lakhs'}, inplace=True)

# Select the common columns and combine
df1_trimmed = df1[common_cols].copy()
df2_trimmed = df2[common_cols].copy()

# Combine datasets
combined_df = pd.concat([df1_trimmed, df2_trimmed], ignore_index=True)

# Save combined data
combined_df.to_csv('combined_used_car_data.csv', index=False)

['brand', 'model', 'manufacturing_year', 'milage', 'fuel_type', 'engine', 'transmission', 'ext_col', 'int_col', 'accident', 'clean_title', 'price', 'vehicle_age']