In [1]:
import pandas as pd
import joblib
import numpy as np

In [2]:
# Load trained model
model = joblib.load("power_to_price_model.joblib")
print("Model loaded successfully!")

Model loaded successfully!

In [5]:
# Example new data
new_data = pd.DataFrame({
    'price_numeric $': [15000, 22000, 60000],
    'vehicle_age': [5, 3,1],
    'milage_numeric': [50000, 30000,3000],
    'engine_hp HP': [250, 300, 400],
    'brand': ['Toyota', 'BMW', 'Mercedes'],
})

new_data

   price_numeric $  vehicle_age  milage_numeric  engine_hp HP     brand
0            15000            5           50000           250    Toyota
1            22000            3           30000           300       BMW
2            60000            1            3000           400  Mercedes

In [7]:
# Predict power-to-price ratio
predictions = model.predict(new_data)
new_data['predicted_power_to_price'] = predictions
new_data

,price_numeric $,vehicle_age,milage_numeric,engine_hp HP,brand,predicted_power_to_price
0,15000,5,50000,250,Toyota,16.3488
1,22000,3,30000,300,BMW,13.5954
2,60000,1,3000,400,Mercedes,6.5877

In [8]:
# Save predictions to CSV
new_data.to_csv("predicted_power_to_price.csv", index=False)
print("Predictions saved to 'predicted_power_to_price.csv'")

Predictions saved to 'predicted_power_to_price.csv'